@import url("./fonts.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: PPRightGroteskWide, system-ui;
}

html {
  --page-bg-color: #eee7d7;
  --top-nav-border-bottom: 1px solid #143420;
  --text-color: #143420;
  --button-bg-color: #e3fecc;
}

body {
  background-color: var(--page-bg-color);
  color: var(--text-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a.button {
  background-color: var(--button-bg-color);
  padding: 12px 24px;
  font-weight: 500;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  border-bottom: var(--top-nav-border-bottom);
  gap: 12px;
  line-height: 1.2;
}

.top-nav-item {
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
}

.top-nav-item.google-play {
  margin-right: auto;
}

.top-nav-item.google-play,
.top-nav-item.app-store {
  display: flex;
  align-items: center;
  gap: 6px;
}

.top-nav-item.login {
  background-color: var(--button-bg-color);
  padding: 12px 24px;
  align-self: center;
}

.bottom-nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 24px;
  padding-bottom: 32px;
  gap: 48px;
  align-items: center;
}

.bottom-nav-item {
  font-size: 16px;
  font-weight: 500;
}

section.hero {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 128px;
  padding-right: 48px;
  gap: 48px;
  justify-content: space-between;
}

.hero-images {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.hero-images img {
  max-width: 100%;
}

.hero-images img.mood {
  max-width: 648px;
}

.hero-images img.screen {
  position: absolute;
  left: 50%;
  top: -24%;
  transform: translate(-50%);
  border: 1px solid white;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  max-width: calc(237.58px + 12px + 12px);
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: center;
}

.hero-title {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}

.hero-desc {
  font-size: 20px;
  font-weight: 400;
  max-width: 45ch;
  line-height: 1.4;
}

.hero-buttons {
  display: flex;
  gap: 12px;
}

section.features-1 {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 48px 96px 80px 128px;
  font-size: 18px;
}

.features-1 .feature-item-1 {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
}

section.features-2 {
  padding: 160px 128px;
}

.features-2 h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: -5px;
  margin-bottom: 80px;
}

.features-2 .features-container {
  display: flex;
  gap: 120px;
}

.feature-item-2 {
  text-align: center;
}

.feature-item-2 .screen {
  border: 1px solid var(--text-color);
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  max-width: calc(201.67px + 12px + 12px);
  margin-bottom: 48px;
}

.feature-item-2 .feature-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.feature-item-2 .feature-desc {
  max-width: 37ch;
  font-size: 16px;
  line-height: 150%;
}

section.invite {
  display: grid;
  place-content: center;
  justify-items: center;
  margin-bottom: 100px;
}

.invite h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 6px;
}

.invite p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1.5;
}

.invite a {
  padding: 16px 24px;
}

section.explore {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.explore-texts {
  display: grid;
  justify-items: start;
  padding: 0px 80px;
}

.explore-title {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 24px;
  line-height: 1;
}

.explore-desc {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 40px;
}

.explore a {
  padding: 16px 24px;
  font-size: 14px;
}

.explore-video {
  object-fit: cover;
}

section.links {
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  gap: 72px;
  align-items: start;
}

section.links .about {
  margin-right: auto;
}

section.links .about .logo {
  margin-bottom: 18px;
}

section.links .about h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 18px;
  max-width: 30ch;
}

section.links a {
  font-size: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.phone-container {
  display: flex;
  gap: 2.5px;
  align-items: center;
}
.phone-number {
  font-size: 16px;
}

.find-finest {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px 0px;
}

.finest-title,
.explore-the-hyve-title,
.download-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
  padding-top: 12px;
}

.download-title {
  margin-bottom: 16px;
}

.finest-title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.explore-the-hyve-title {
  grid-column-start: 1;
  grid-column-end: 2;
}

.explore-the-hyve {
  display: grid;
  gap: 16px 0px;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.download .download-image {
  background-color: white;
  border-radius: 7.26px;
}
