@import url(./fonts.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui;
}

html {
  --page-bg-color: #eee7d7;
  --top-nav-border-bottom: 1px solid #143420;
  --text-color: #143420;
  --button-bg-color: #e3fecc;
}

body {
  background-color: var(--page-bg-color);
  color: var(--text-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a.button {
  background-color: var(--button-bg-color);
  padding: 12px 24px;
  font-weight: 500;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  border-bottom: var(--top-nav-border-bottom);
  gap: 12px;
  line-height: 1.2;
}

.top-nav-item {
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
}

.top-nav-item.google-play {
  margin-right: auto;
}

.top-nav-item.google-play,
.top-nav-item.app-store {
  display: flex;
  align-items: center;
  gap: 6px;
}

.top-nav-item.login {
  background-color: var(--button-bg-color);
  padding: 12px 24px;
  align-self: center;
}

.bottom-nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 24px;
  padding-bottom: 32px;
  gap: 48px;
  align-items: center;
}

.bottom-nav-item {
  font-size: 16px;
  font-weight: 500;
}

.hero {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 128px;
  padding-right: 48px;
  gap: 48px;
  justify-content: space-between;
}

.hero-images {
  margin-top: 108px;
  position: relative;
}

.hero-images img {
  max-width: 100%;
}

.hero-images img.mood {
  max-width: 648px;
}

.hero-images img.screen {
  position: absolute;
  left: 50%;
  top: -24%;
  transform: translate(-50%);
  border: 1px solid white;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 48px;
  max-width: calc(237.58px + 12px + 12px);
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: center;
}

.hero-title {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}

.hero-desc {
  font-size: 20px;
  font-weight: 400;
  max-width: 45ch;
  line-height: 1.4;
}

.hero-buttons {
  display: flex;
  gap: 12px;
}
